div{
    background-color: rgb(215, 91, 169);
}
#Bt1{
background-color: aqua;
}
.h1{
    background-color: rgb(135, 181, 144);
    color: brown;
}

.box{
    width:100px ;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    background-color: blueviolet;
    margin: 5px;
}
.boxa{
    height: 250px;
    width:150px;
    background-color: rgb(174, 0, 255);
    margin-top: 2rem;
    border : 1px solid black;
}